* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container-fluid {
background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/backgroundPicture.jpg);
height: 100vh;
}


.arrow {
  width: 2em;
}
label {
 padding-right: 0;
 }

.wset{
  width: 50vw;
}
 .table td, .table th{
  padding: 0;

}
.table td{
  background-color: #fff;
}
p, input, .row{
  margin : 0;
  padding: 0;
  border: #fff;

}

p{
  padding-left: 10px;
  padding-right: 10px;
}
.col-8, .col-4, .col-12{
  padding: 0;
  text-align: center;


}
.formMargin{
  margin-bottom: 2%;
  margin-top: 2%;
}

#solution td input {
  max-height: 3em;

}

#solution td img {
  max-width: 3em;
  max-height: 3em;
}

#solution div {
max-height: 3em;
}
