* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container-fluid {

  background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/backgroundPicture.jpg);
  

}


canvas {
  border: 4px solid black;

}

#draggable-elements, #droppable-space {

  margin-left: auto;
  margin-right: auto;
  height:30%;
}

#draggable-elements {
  cursor: move;
}

.draggable {
  width: 4em;
  height: 2em;
  align-content: center;

}
.alert{
  padding: 0;
  border: 0;
}
.draggable:hover {
  opacity: 0.5s;
}

span {
  margin: 1em;
}

.hover {
  border-width: 5px;
  transform: scale(1.1);
}
.col{
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 1%;
  padding-right: 1%;
  height: 100vh;
}
